body{
    color:rgba(255, 255, 255, 0);
    background:darkorange;
}
header{
   border-bottom:solid 2px rgb(rgb(146, 72, 231));
   padding: 20px;
   font-size: 32px;
   color: rgb(128, 14, 14);
   background: rgba(233, 230, 228, 0.062);
}
.chamada{
  background: rgb(28, 141, 216);
  padding-bottom: 100px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
} 
.categorias_videos{
   display: flex;
   overflow-x: auto;
   gap:15px;
}
.categorias{
   padding-left: 20px;
   padding-right: 20px;
}