body{
    color:indigo;
    background:darkorange;
}
header{
   border-bottom:solid 2px rgb(rgb(137, 6, 6));
   padding: 20px;
   font-size: 32px;
   color: black;
   background: chocolate;
}
.chamada{
  background: rgb(216, 216, 28);
  padding-bottom: 100px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}    