body{
    color:rgba(215, 165, 248, 0.925);
    background:rgb(235, 166, 76);
}
header{
   border-bottom:solid 2px rgb(rgb(146, 72, 231));
   padding: 20px;
   font-size: 32px;
   color: rgb(128, 14, 14);
   background: rgba(233, 134, 248, 0.808);
}
.chamada{
  background: rgb(16, 20, 238);
  padding-bottom: 100px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
} 
.categorias_videos{
   display: flex;
   overflow-x: auto;
   gap:15px;
}
.categorias{
   padding-left: 20px;
   padding-right: 20px;
}